.header {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 20px;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px; 
  margin-left: 10%;
}

.user-section {
  display: flex;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.icon {
  height: 40px;
  width: 40px;
  margin-left: 0px;
}

.logout-icon {
  height: 30px; 
  width: 30px;
  margin-left: 20px;
}

.user-section {
  margin-right: 10%;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user-name, .user-email {
  margin: 0;
  font-size: 14px;
}

.divider {
  height: 4px; /* Más grueso */
  background-color: red; /* Color rojo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  margin-top: 10px; /* Ajuste de margen para separar del contenido */
  border: none;
}
