.header {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 20px;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
}

.logo {
  height: 50px; 
}

.logout-icon {
  height: 30px; 
  width: 30px;
  margin-right: 5%;
}

.divider {
  height: 4px; /* Más grueso */
  background-color: red; /* Color rojo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  margin-top: 10px; /* Ajuste de margen para separar del contenido */
  border: none;
}
