.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.logo {
  height: 50px; 
}

.user-section {
  display: flex;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
}

.icon {
  height: 40px;
  width: 40px;
}

.logout-icon {
  height: 30px; 
  width: 30px;
  margin-left: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user-name, .user-email {
  margin: 0;
  font-size: 14px;
}

.divider {
  height: 3px; /* Más grueso */
  background-color: #EB4F3E; /* Color rojo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  margin-top: 5px; /* Ajuste de margen para separar del contenido */
  border: none;
}
