/* Estilos para el Header */
.header {
  width: 100%;
  box-sizing: border-box;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
} 

.logo {
  height: 60px;
  width: auto;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.user-profile {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 10px; 
  
}

.user-icon {
  height: 40px;  /* Tamaño reducido */
  margin-right: 10px;
}

.user-text {
  text-align: left;
}

.login-text {
  font-size: 14px; 
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
}

.account-text {
  font-size: 16px;  
  margin-bottom: 0; /* Sin margen inferior adicional */
  font-weight: bold; /* Texto en negrilla */
  color: black; /* Color del texto */
}

.cart-icon {
  height: 32px;  /* Tamaño reducido */
  margin-left: 15px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 70%;
  gap: 80px;
}

.navigation ul li {
  margin: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.divider {
  height: 3px; /* Más grueso */
  background-color: #EB4F3E; /* Color rojo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  margin-top: 5px; /* Ajuste de margen para separar del contenido */
  border: none;
}