@tailwind base;
@tailwind components;
@tailwind utilities;

.no-underline {
  text-decoration: none;
}

/* Clase para transiciones de altura máxima */
.transition-max-height {
  transition-property: max-height;
  max-height: 0;
  overflow: hidden;
}

/* Clase para altura máxima expandida */
.max-h-96 {
  max-height: 24rem; /* Ajusta el valor según la altura máxima que necesitas */
}
