@tailwind base;
@tailwind components;
@tailwind utilities;

.no-underline {
  text-decoration: none;
}

/* Clase para transiciones de altura máxima */
.transition-max-height {
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

/* Clase para altura máxima expandida */
.max-h-96 {
  max-height: 24rem;
  /* Ajusta el valor según la altura máxima que necesitas */
}

/* Estilo para los items hijos por defecto */
.sub-item {
  background-color: #F5BE90;
}

/* Estilo para el avck de los items hijos */
.sub-item:avck {
  background-color: #e0ac75;
  /* Un color más oscuro que #F5BE90 */
}