.ver-administradores-container {
  width: 80%;
  margin-top: 0%;
  padding: 2rem;
  border-radius: 10px;
}

.ver-administradores-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 24px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

thead {
  background-color: #333;
  color: #fff;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
}

tbody tr:not(:last-child) td {
  border-bottom: 2px solid black;
}

tbody button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.ver-administradores-container button:hover {
  background-color: #c21b1b;
}